Project 2 — Service Job Sync.json
{
  "name": "Project 2 — Service Job Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "587f5f4e-162e-4eaa-8321-6abddd624a84",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wQ-bl6D9ZnS0HJ0N3uCbLXRXruOwWpQ7ZlsJyC1UHfw",
          "mode": "list",
          "cachedResultName": "JobsRegistry",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wQ-bl6D9ZnS0HJ0N3uCbLXRXruOwWpQ7ZlsJyC1UHfw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1624887010,
          "mode": "list",
          "cachedResultName": "JobsRegistry",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wQ-bl6D9ZnS0HJ0N3uCbLXRXruOwWpQ7ZlsJyC1UHfw/edit#gid=1624887010"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "8f14e70a-9b85-48d6-90bb-6393a34824bb",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ET2DCcwVvYug9rG9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.clickup.com/api/v2/list/901817470043/task",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $json.job_id }} — {{ $json.client_name }} — {{ $json.job_type }}\",\n  \"description\": \"Address: {{ $json.address }}\\nAssigned to: {{ $json.assigned_to }}\\nNotes: {{ $json.notes }}\",\n  \"due_date\": {{ new Date($json.due_date).getTime() }},\n  \"priority\": {{ $json.priority === 'High' ? 1 : $json.priority === 'Medium' ? 2 : 3 }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "ea948b4d-335b-4503-8d0a-dbd5b1f6926e",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YhkZcK0205E7djgA",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1wQ-bl6D9ZnS0HJ0N3uCbLXRXruOwWpQ7ZlsJyC1UHfw",
          "mode": "list",
          "cachedResultName": "JobsRegistry",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wQ-bl6D9ZnS0HJ0N3uCbLXRXruOwWpQ7ZlsJyC1UHfw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1624887010,
          "mode": "list",
          "cachedResultName": "JobsRegistry",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wQ-bl6D9ZnS0HJ0N3uCbLXRXruOwWpQ7ZlsJyC1UHfw/edit#gid=1624887010"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "pm_task_id": "={{ $json.id }}",
            "last_sync_at": "={{ new Date().toISOString() }}",
            "job_id": "={{ $('Code in JavaScript').item.json.job_id }}"
          },
          "matchingColumns": [
            "job_id"
          ],
          "schema": [
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "client_name",
              "displayName": "client_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_type",
              "displayName": "job_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "due_date",
              "displayName": "due_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "assigned_to",
              "displayName": "assigned_to",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pm_task_id",
              "displayName": "pm_task_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_sync_at",
              "displayName": "last_sync_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_log",
              "displayName": "error_log",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        0
      ],
      "id": "597c2700-a573-4d5c-baa5-8bb5d1f795d2",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ET2DCcwVvYug9rG9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.filter(item => {\n  const pmTaskId = item.json.pm_task_id;\n  return !pmTaskId || pmTaskId.toString().trim() === '';\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "ad33825f-72ea-4f70-8d1d-32cc4c5b8d71",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "bbedcf65-a288-4fc6-844e-3cf59d0b13fa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": ""
  },
  "id": "",
  "tags": []
}